* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  /* display: flex;
  gap: 1rem; */
  height: 60vh;
  margin: 50px auto;
  outline: 2px solid crimson;
  width: 90%;
  /* overflow: hidden; */
}

.box {
  background: steelblue;
  width: 100px;
  height: 100px;
  /* transition: all 500ms; */
  transition-duration: 1s, 4s;
  transition-property: background-color, transform;
  /* transition-delay: 3s; */
  
  margin-top: 12px
}

.container .box:nth-child(1){
  transition-timing-function: linear;
}
.container .box:nth-child(2){
  transition-timing-function: ease;
}
.container .box:nth-child(3){
  transition-timing-function: ease-in;
}
.container .box:nth-child(4){
  transition-timing-function: ease-in-out;
}

.container:hover .box-animated{
  background-color: yellow;
  /* transform: translateX(200px); */
  /* transform: translate(200px, 200px); */
  /* transform: translateY(200px); */
  /* transform: rotate(-180deg); */
  /* transform: scale(1.5); */
  /* transform: scaleX(2); */
  /* transform: scaleY(2); */
  /* transform: skewY(45deg); */
  transform: translate(450px) rotate(360deg);
}