* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  background-color: crimson;
  height: 900px;
  margin: 50px auto;
  overflow: hidden;
  width: 80%;
}
.container:hover .spidey{
  animation-play-state: running;
}

.spidey {
  display: block;
  margin: 0 auto;
  /* animation: spiderman 6s; */
  animation-name: spiderman;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-play-state: paused;
}

@keyframes spiderman {
  0% {
    display: none;
    transform: translateY(-500px);
  }

  30% {
    display: block;
  }

  40% {
    transform: translateY(0) rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: translateY(-130px);
  }
}