header {
  margin-bottom: 2rem;

  @media screen and (max-width: 480px) {
    margin-bottom: 1rem;
  }



  nav {
    padding-top: 1rem;
    ul {
      display: flex;
      gap: 2rem;
      justify-content: center;
      list-style: none;

      a {
        background-color: $primaryColor;
        border-radius: 5%;
        color: white;
        padding: 1.5rem;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          background-color: $secondaryColor;
        }

      }
    }
  }
}