header {
  margin-bottom: 2rem;
}
header nav {
  padding-top: 1rem;
}
header nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}
header nav ul a {
  background-color: crimson;
  border-radius: 5%;
  color: white;
  padding: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
}
header nav ul a:hover {
  background-color: tomato;
}
