* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin-bottom: 2rem;
}
header nav {
  padding-top: 1rem;
}
header nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}
header nav ul a {
  background-color: crimson;
  border-radius: 5%;
  color: white;
  padding: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
}
header nav ul a:hover {
  background-color: tomato;
}
.btn_padre,
.btn-alert {
  display: block;
  height: 50px;
  margin: 1rem auto;
  text-align: center;
  width: 100px;
}
.border,
.btn-alert {
  border-radius: 5%;
  outline: 1px solid black;
}
.btn-alert {
  background-color: crimson;
  color: white;
}
