/* selector de tipo elemento 
    nombre_etiqueta{
      propiedad .....
    }

*/

h4 {
  color: green;
  font-size: 80px;
}
h1 {
  /*
    Para definir un color tengo
    una paleta de 140 colores predefinidos
    por ej: blue, red, yellow, brown
    ---------------------------------
    Hexadecimal
    Formo un color con 6 digitos 0-9 A-F
    -#FFFFFF #00000
    ----------------------------------
    RGB en una funcion que recibe 3 parametros
    rgb(valor1, valor2, valor3) => 0 -255
    red
        rgb(255,0,0)
    blue
        rgb(0,0,255)
    ------------------------------------
    rgba(3 primeros son iguales, 4 parametro)
  */
  background-color: lightgray;
  color: rgba(0, 0, 255, 0.9);
  font-size: 65px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
p {
  color: green;
  font-size: 20px;
  text-align: justify;
}
span{
  color: #000;
}

/* selector de tipo clase 
  .nombreClase{
      propiedad....
  }
*/
.cuerpo{
  background-color: yellow;
}
.textoIzquierda{
  text-align: left;
}

/* selector de ID 
  #nombreId{
      propiedad....
  }


*/
#h4Azul{
  color: blue;
}