<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listas</title>
</head>
<body>
  <!--
      1 = Numerico (defecto)
      A = Alfabetico (Mayuscula)
      a = Alfabetico (miniscula)
      I = Números Romanos (nros romanos)
      i = Números Romanos (nros romanos min)

      reversed => se invierte la numeracion

  -->
    <ol type="A" start="3" reversed>
        <li>Item 1
            <ul type="none">
                <li>1.1 subitem</li>
            </ul>
        </li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <!--
        Listas desordenadas
        -type: (disc, circle, square, none)
    -->
    <ul type="none">
      <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</body>
</html>