<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otro Html</title>
</head>

<body>
  <div>
    <h4>Este es el otro html</h4>
    <a href="../index.html">

      volver al principal </a>

      <br><br>

   <!--  <img src="https://play-lh.googleusercontent.com/xD78B_Wcf9q5iWhKIQS8n1NwdfkVFDJjjUubkcd6rHaiHpOYmFVMoeQ5hbomDGekvhQ"
    alt="logo digital"> -->

    <!--
          camelCase  logoDh
          PascalCase LogoDh
          snake_case logo_dh

          importante los recursos deben tener el mismo nombre en el vinculo 
          que en el recurso
    -->
    
    <a href="https://www.digitalhouse.com/" target="_blank">
      <img src="../img/logo_dh.png"
      alt="logo digital">
    </a>


  </div>
</body>

</html>