@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.discount {
  background: #1cd1b0;
  padding: 0px 20px;
}

.discount>p {
  font-weight: 600;
}

header {
  background: #00669f;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.16));
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

header>h1 {
  color: #f3f3f3;
  font-weight: 400;
  padding: 20px 20px;
}

section {
  text-align: center;
}

/* ESTILOS CARD */
.card {
  background: #f3f3f3;
  border-radius: 16px 16px 0px 0px;
  display: inline-block;
  filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.16));
  margin: 20px 20px;
  max-width: 300px;
  transition: all 0.3s ease-in;
  opacity: 0.5;
}

.card:hover{
  outline: 2px solid blue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  /* transform: scale(1.2); */
  opacity: 1;
}

/* ESTILOS CARD BACKGROUND HEADER */
.card .card-img {
  background-position: -50px;
  background-size: cover;
  border-radius: 16px 16px 0px 0px;
  height: 200px;
  position: relative;
}

.card .card-img:nth-child(1) {
  background-image: url("../img/bg-b.jpg");
}

.card .card-img:nth-child(2) {
  background-image: url("../img/bg-w.jpg");
}

.card .card-img:nth-child(3) {
  background-image: url("../img/bg-s.jpg");
}

.card .card-heart {
  background-image: url("../img/heart.png");
  height: 100px;
  width: 100px;
  color: #cc2424;
  font-size: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 200;
}

/* ESTILOS CARD TEXT */
.card .card-text {
  position: relative;
  text-align: center;
}

.card .card-text p {
  margin: 10px 20px;
}

.card .card-text h3 {
  font-size: 30px;
  font-weight: 400;
  padding: 70px 0px 0px 0px;
  text-align: center;
  text-transform: uppercase;
}

/* ESTILOS CARD FOTO PERFIL */
.card .card-perfil {
  background-size: cover;
  border-radius: 50%;
  height: 120px;
  left: 30%;
  position: absolute;
  top: -65px;
  width: 120px;
  opacity: 1;
}

/* ESTILOS CARD BTN */
.card .card-btn {
  background: #00669f;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  padding: 7% 15%;
  /* añado transición de color al boton */
  transition: all 0.3s ease 0s;
}

.card .card-btn:hover {
  background: #1cd1b0;
}

/* ESTILOS CARD FOOTER */
footer {
  background: #00669f;
  height: 110px;
  text-align: center;
}

footer>p {
  color: #f3f3f3;
  font-size: 20px;
  padding: 40px 0px;
}

/* ESTILOS BUTTON MÁS */
.add {
  background: #00669f;
  border-radius: 50%;
  color: #f2f2f2;
  cursor: pointer;
  padding: 25px;
  position: fixed;
  right: 20px;
  top: 50%;
 
}

.add:hover{
  animation: rotate .6s ease-in-out;
  animation-fill-mode: forwards;
  cursor:crosshair;
  
}

.card .card-heart:active{
  /* Asignando al hover la animacion del corazon que esta declarada al final*/
  animation-name: heart;
  animation-duration: 5s;
  animation-timing-function: steps(29);
  animation-direction: alternate-reverse;
  cursor: pointer;
}


@keyframes heart {
  /* Me estoy desplazando en esa imagen del corazon de izquierda hacia derecha*/
  to{
    background-position:0px;
  }
  from{
    background-position: 2900px;
  }
  
}

@keyframes rotate {
    0%{
      transform: rotate(0);
      background-color: #00669f;
    }
    100%{
      transform: rotate(360deg);
      background-color: #1cd1b0;
    }
}